{% extends "layout.twig" %}
{% block title %}Список задач{% endblock %}
{% block content %}
    <div class="task-list">
        <h3>Список задач</h3>
        {% if tasks is empty %}
            Список пуст.
        {% else %}
            <p>Что бы отсортировать записи, кликните по нужному заголовку столбца</p>
            <table class="table">
                <thead>
                <tr>
                    <th><a href="/?order=name">Имя пользователя</a></th>
                    <th><a href="/?order=email">E-mail</a></th>
                    <th>Изображение</th>
                    <th>Описание</th>
                    <th><a href="/?order=status">Завершена?</a></th>
                </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                    {% set image = task.getImage() %}
                    <tr>
                        <td>{{ task.getUserName() }}</td>
                        <td>{{ task.getUserEmail() }}</td>
                        <td><img alt="Task image" src="{{ image ? "/images/#{image}" : "/assets/no-image.png" }}"/></td>
                        <td>{{ task.getDescription() }}</td>
                        <td>
                            {% if task.isDone() %}
                                +
                            {% else %}
                                {% if isAdmin %}
                                    <button class="edit-task" data-task-id="{{ task.getId() }}"
                                            data-task-description="{{ task.getDescription() }}">Редактировать
                                    </button>
                                {% else %}
                                    -
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% for p in (1 .. totalPages) %}
                        {% if currentPage == p %}
                            <li class="page-item active"><a class="page-link" href="#">{{ p }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link"
                                                     href="/?page={{ p }}{{ order ? "&order=#{order}" : "" }}">{{ p }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}

        <div class="modal" id="edit-box" role="dialog">
            <div class="row">
                <div class="col-md-4 offset-4">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Редактирование задачи</h5>
                            <button type="button" class="close js-close-edit" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div id="edit-body" class="modal-body">
                            <form action="/edit" method="post" id="frm_edit">
                                <input type="hidden" name="id" id="fld_task-id"/>
                                <div class="form-group">
                                    <label for="fld_edit-description">Описание:</label>
                                    <textarea class="form-control" id="fld_edit-description" name="description"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="fld_edit-description">Завершена?</label>
                                    <input type="checkbox" name="done" value="1"/>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="btn_edit-save">Сохранить</button>
                            <button type="button" class="btn btn-secondary js-close-edit" data-dismiss="modal"
                                    aria-label="Close">Отмена
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {{ include('newTask.twig') }}
    <script type="text/javascript" src="/assets/editor.js"></script>
{% endblock %}